/*  @font-face {
  font-family: 'OpenSans-Semibold';
  src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/OpenSans-Semibold.woff') format('woff'), url('fonts/OpenSans-Semibold.ttf')  format('truetype'), url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/OpenSans-Bold.woff') format('woff'), url('fonts/OpenSans-Bold.ttf')  format('truetype'), url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf')  format('truetype'), url('fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
} */
.x-panel-header-title-default-framed, .x-panel-header-title-default, .x-tab-inner-navigation, .x-form-text-default, .x-btn-inner-default-small, .x-btn-inner-default-toolbar-small, .x-column-header, .x-grid-item, .x-window-header-title-default, .x-panel-body-default, .x-body{
font: normal 13px/15px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
}
.x-form-item-label-default, .x-form-display-field-default{
	font-family: 'Open Sans', sans-serif !important;
}
 .x-panel-header-title-default-framed .x-title-text-default-framed:after{
content: none !important;
}
.x-window-header-title-default .x-title-text-default:after{
content: none !important;
} 
.x-form-text{
display:inline !important;
}
.x-column-header-text{
font-weight: bold !important;
}
.pricegrid .x-panel-default-framed {
height:250px !important;
}
.pricegrid .x-grid-body {
height:200px !important;
}
.logout{
border-color:#268739 !important;
background-color: #268739 !important;
padding:0;
margin:0;
border-radius:0px !important;
}
.x-accordion-item .x-accordion-hd{
	cursor:pointer;
}
.x-datepicker-month .x-btn-split-right:after{
	display:none;
}
.x-datepicker{
	width:279px !important;
}
.x-monthpicker-months{
	    width: 143px !important;
    padding-left: 14px !important;
}
.x-monthpicker-years{
	    margin-left: 17px !important;
}
.x-panel-header-default-framed-top{
	    background-color: #E6E6E6 !important;
}
.x-window-header-default-top{
	    background-color: #E6E6E6 !important;
}
.x-window-header-default .x-tool-img{
	background-color: #E6E6E6 !important;
}
.x-datepicker-footer, .x-monthpicker-buttons{
	    padding: 7px 0px 3px !important;
}
.paging .x-toolbar-default{
	    background-color: whitesmoke !important;
}
.paging .x-grid-cell-inner {
	    height: 36px;
	    padding: 10px 10px 4px 10px !important;
}

.toolbar .x-toolbar .x-toolbar-item {
	border-color: #fff;
	height:55px;
	padding:0;
margin:0;
}
.toolbar .x-btn-inner-default-toolbar-small{
font:300 15px/16px helvetica,arial,verdana,sans-serif !important;
}
.toolbar .x-toolbar-default{
background-color:#fff;
box-shadow: 0 3px 3px rgba(0, 1, 0, 0.1);
padding: 0px 0 6px 9px !important;
height:55px;
}
.x-toolbar  .x-toolbar-item.x-btn-default-toolbar-small.x-btn-over{
background: #BCBCBC !important;
border-color: #BCBCBC !important;
}
    
.toolbar .x-btn-default-toolbar-small .x-btn-inner {
    padding: 0px !important;
}
.x-btn-arrow-right:after, .x-btn-split-right:after{
transform: rotate(270deg);
}
.x-splitter-vertical {
  background-color: rgb(230, 230, 230);
}
/* .x-panel-header-title-navigation{
font: 800 20px/20px "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
height:100px !important;
padding: 20 !important;
} */
.x-panel-header-title-navigation .x-title-text-navigation{
background:url("../images/logo.png") no-repeat !important;
/* vertical-align: middle !important;
padding-top:20% !important;
text-overflow: ellipsis; */
}
.x-panel-header-title-navigation{
  left: 12px !important;
  top: 13px !important;
  width: 235px;
  height:55px;
}
.x-panel-header-navigation{
background-color: rgb(230, 230, 230) !important;
}
.button {
    background: #444444 !important;
	border-color:#444444 !important;
	height:73px;
	opacity:1 !important;
	font: bold 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
	
}
.x-btn-disabled.x-btn-default-large{
	background:#303030 !important;
}
.button .x-btn-inner-default-large{
	color:#ACACAC;
	font: bold 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
	
}
.x-btn.my-over {
    background: #585858 !important;
}
.x-tab.x-tab-active.x-tab-navigation{
	border-color: #EE3026 !important;
	        border-left-width: 5px;
    padding-left: 19px;
}
.x-btn.x-btn-menu-active.x-btn-default-large, .x-btn.x-btn-pressed.x-btn-default-large, .x-btn-pressed .x-btn-inner-default-large{
color: #fff !important;
    border-left-width: 5px !important;
    border-left-color: #EE2F25 !important;
}
.x-panel-header-title-default .x-title-text-default:after{
content: none !important;
}
.x-accordion-item .x-accordion-hd-last-collapsed{
border-bottom-color: rgb(64, 64, 64) !important;
}
.x-accordion-hd{
background-color:rgb(64, 64, 64) !important;
border-color:rgb(64, 64, 64) !important;
}
.x-accordion-hd-over {
	background: #585858 !important;
}

.x-accordion-hd .x-panel-header-title{
color: rgb(188, 188, 188) !important;
font: normal 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
height:50px !important;
}
.x-accordion-hd .x-panel-header-title-default .x-title-text-default{
padding-left:10% !important;
padding:15px !important;
}
.x-panel-header-title-default>.x-title-icon-wrap-default>.x-title-icon-default{
padding-top:45px !important;
}
.x-accordion-hd .x-tool-img{
background-color: rgb(64, 64, 64) !important;
background-image:url(../images/tool1.png);
background-repeat:no-repeat !important;
background-position: center center !important;
}
.x-tab-icon-right > .x-tab-inner-navigation, .x-tab-icon-left > .x-tab-inner-navigation{
margin-left: 11px !important;
}
.x-btn-inner-default-large{
font: bold 15px/19px helvetica,arial,verdana,sans-serif !important;
}
.x-btn-text.x-btn-icon-left>.x-btn-icon-el-default-large{
margin-left: 35px !important;
}
.x-accordion-hd .x-tool-collapse-top, .x-accordion-hd .x-tool-collapse-bottom{
transform: rotate(180deg);
}
.x-accordion-hd .x-panel-header-title-default>.x-title-icon-wrap-default>.x-title-icon-default{
    margin-left: 18px !important;
    width: 22px;
}
.x-btn-focus.x-btn-default-small{
box-shadow:none !important;
}
.x-btn-focus.x-btn-default-large{
box-shadow:none !important;
}
.processed .x-grid-cell {
    background-color: rgba(193, 221, 241, 0.62) !important;
}

.bg-logo .x-panel-body-default-framed {
	background:url(../../../../images/bg_page.png) !important;
}

.bg-logo-home .x-autocontainer-innerCt{
	background:url(../../../../images/bg_page.png) !important;
}

.toolbar .x-panel-default{
    box-shadow: 0 3px 3px rgba(0, 1, 0, 0.1);
}

/* customize scrollbar css */
	::-webkit-scrollbar{
		width:7px;
		background-color:#fff;
	}
	::-webkit-scrollbar:horizontal{
		height:0px;
	}
	::-webkit-scrollbar-track{
		border:1px #e7e8ec solid;
		border-radius:10px;
		-webkit-box-shadow:0 0 6px #e7e8ec inset;
	}
	::-webkit-scrollbar-thumb{
		background-color: #BCBCBC;
    	border: 1px solid #BCBCBC;
		border-radius:16px;
	}
	::-webkit-scrollbar-thumb:hover{
		background-color:#898c91;
		border:1px solid #898c91;
		width:7px;
	}
	::-webkit-scrollbar-thumb:active{
		background-color:#898c91;
		border:1px solid #898c91;
	}
.rejected .x-grid-cell, .expiry .x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
              background-color: rgba(241, 12, 33, 0.55) !important;
        }
.x-panel-default-framed{	
 -webkit-border-radius: 0px !important;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
     border-radius: 0px !important; 
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
        border: solid 1px #F1F1F1 !important;
}