.header { 
padding:5%;
   background: rgb(232,232,232);
background: -moz-linear-gradient(top, rgb(232,232,232) 0%, rgb(224,224,224) 9%, rgb(214,214,214) 18%, rgb(255,255,255) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(232,232,232)), color-stop(9%, rgb(224,224,224)), color-stop(18%, rgb(214,214,214)), color-stop(100%, rgb(255,255,255)));
background: -webkit-linear-gradient(top, rgb(232,232,232) 0%, rgb(224,224,224) 9%, rgb(214,214,214) 18%, rgb(255,255,255) 100%);
background: -o-linear-gradient(top, rgb(232,232,232) 0%, rgb(224,224,224) 9%, rgb(214,214,214) 18%, rgb(255,255,255) 100%);
background: -ms-linear-gradient(top, rgb(232,232,232) 0%, rgb(224,224,224) 9%, rgb(214,214,214) 18%, rgb(255,255,255) 100%);
background: linear-gradient(to bottom, rgb(232,232,232) 0%, rgb(224,224,224) 9%, rgb(214,214,214) 18%, rgb(255,255,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff', GradientType=0 );
}

.header_content{ 
font-size:40px;
float:left; 
font-family:Calibri;
font-weight:bold;
color:#444444;
}

.header_content.title1{ 
width:40%;
}

.header_content.title2{ 
width:40%;
}

.strikethrough {
        position: relative;
    }

    .strikethrough:before {
        border-bottom: 3px solid #eee;;
        position: absolute;
        content: "";
        width: 910px;
        height: 50%;
    }
	.main {
	width:960px;
	margin: 0px auto;
	line-height:22px;
	text-align:justify;
	border-top:solid 100px #EE2F25;
	border-bottom:solid 100px #EE2F25;
	border-left:solid 60px #EE2F25;
	border-right:solid 60px #EE2F25; 
}
ul{
    list-style: none;
}
.main a {
	color:#000;
}
.main a:active {
	color:#000;
}
.main a img {
	border:none;
}
#section {
    width:940px;
    padding:10px;	
}
#orders
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:900px;
border-collapse:collapse;            
}
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}
tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: "" counter(Serial); /* Display the counter */
}	
#orders td, #orders th
{
font-size:1em;

padding:3px 7px 2px 7px;

}
#orders th
{
height: 50px;
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color: #F0F0F5;
border:1px solid #eee;
color:gray;
}
#orders tr.alt td
{
color:#000000;
background-color:lightgray;
}
#orders th:nth-child(1) {
text-align: center;
}
#orders th:nth-child(3) {
text-align: right;
}#orders th:nth-child(4) {
text-align: right;
}#orders th:nth-child(5) {
text-align: right;
}#orders th:nth-child(6) {
text-align: right;
}
tr td:nth-child(1) {
    text-align: center;
}
tr td:nth-child(4) {
    text-align: right;
}

tr td:nth-child(3) {
    text-align: right;
}
tr td:nth-child(5) {
    text-align: right;
}
tr td:nth-child(6) {
    text-align: right;
}
#orders tr:nth-child(odd){ 
		 border-bottom: 2px solid #eee;
		 border-left:solid 1px #eee;
		border-right:solid 1px #eee;
	}
#orders tr:nth-child(even){
		 border-bottom: 2px solid #eee;
		 border-left:solid 1px #eee;
		border-right:solid 1px #eee;
	}
.details{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
background:#F5F5F5;
color:#595959;
height:300px;
margin-bottom:3%;
}
.quantity{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
color:#595959;
margin-left:3%;
margin-bottom:3%;
}
.customer{
padding-top:5%;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:20;
font-weight:bold;
margin-left:3%;
}
.details1{
float:left; 

margin-left:3%;
}
.details2{
float:right;
margin-right:20%;
}
.payment{
background-color:green; 
width:130px; 
text-align:center;
padding:7px;
font-size:13;
color:white;
margin-bottom:14%;
}

.shipping-address{
width:45%; 
margin-top:2%;
}
.order-date{
margin-top:2%;
margin-bottom:10%;
}
.customer-address{
margin:0;
padding:0;
padding-top:25%;
}
.summary{
margin-left:73%; 
margin-top:1%; 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15;
color:#595959;
}
.total{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:25;
padding:20px;
color:#595959;
}
.footer_section{
margin:30px;
border-bottom:solid 2px #E1E1E1;
}
.total-span{
margin-left:73%;
}
.footer{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15;
margin-left:3%; 
color:#595959;
width:900px;
}
.print-btn{
background-color:green; 
cursor:pointer;
border:0px;
width:130px; 
padding:7px;
font-size:20;
color:white;
}
a:link {
    text-decoration: none;
	color:white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.save-btn{
background-color:green; 
border:0px;
margin-left:2%;
width:130px; 
padding:7px;
font-size:20;
color:white;
}
.cancel-btn{
background-color:green;
border:0px;
width:130px; 
margin-left:2%;
padding:7px;
font-size:20;
color:white;
}
.buttons{
text-align:center;
padding-bottom:5%;
}
.footer-image{
text-align:center;
}
.footer-image img{
width:70px;
}

